@model List<BloodConnect.Models.ApplicationUser>

@{
    ViewData["Title"] = "Top Donors Leaderboard";
    var rank = 1;
}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <h2 class="text-danger mb-4 text-center">
                <i class="fas fa-trophy me-2"></i>Top 10 Blood Donors Leaderboard
            </h2>

            <div class="table-responsive shadow-sm rounded">
                <table class="table align-middle text-center leaderboard-table">
                    <thead class="table-dark text-white">
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Donor Name</th>
                            <th scope="col">Total Points</th>
                            <th scope="col">Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var donor in Model)
                        {
                            string title = "-";
                            string rowClass = "";
                            string iconHtml = "";

                            switch (rank)
                            {
                                case 1:
                                    title = "Blood Hero";
                                    rowClass = "gold-row";
                                    iconHtml = "<i class='fas fa-crown text-warning ms-2'></i>";
                                    break;
                                case 2:
                                    title = "Elite Donor";
                                    rowClass = "silver-row";
                                    iconHtml = "<i class='fas fa-medal text-danger ms-2'></i>";
                                    break;
                                case 3:
                                    title = "The Champion";
                                    rowClass = "bronze-row";
                                    iconHtml = "<i class='fas fa-star text-secondary ms-2'></i>";
                                    break;
                            }

                            <tr class="@rowClass">
                                <td class="fw-bold">@rank.</td>
                                <td class="text-start">
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="avatar bg-danger text-white fw-bold">
                                            @donor.BloodGroup
                                        </div>
                                        <span>@donor.FullName</span>
                                    </div>
                                </td>
                                <td><span class="badge bg-success fs-6">@donor.TotalPoints</span></td>
                                <td>
                                    @Html.Raw(iconHtml) @title
                                </td>
                            </tr>

                            rank++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
